<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Result</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400" rel="stylesheet">
  <link rel="stylesheet" href="master.css">
</head>

<body class="container container-lyric">
  <main class="content">
    <section class="content__show content__show--list">
      <a href="#" class="content__result">
        <h5 class="content__name content__name--result">Hello</h5>
        <p class="content__details">It's me</p>
      </a>
      <a href="#" class="content__result">
        <h5 class="content__name content__name--result">Hello</h5>
        <p class="content__details">It's me</p>
      </a>
      <a href="#" class="content__result">
        <h5 class="content__name content__name--result">Hello</h5>
        <p class="content__details">It's me</p>
      </a>
      <a class="content__result">
        <h5 class="content__name content__name--result">Hello</h5>
        <p class="content__details">It's me</p>
      </a>
    </section>
    <section class="content__powered">
      dskda
    </section>
  </main>
</body>

</html>
