<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="../css/master.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400" rel="stylesheet">
  </head>
  <body class="container container-error">
    <div class="error">
      <h1 class="error__name">Error 404</h1>
      <p class="error__text">There's something wrong with your request, please try again later</p>
    </div>
  </body>
</html>
