<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400" rel="stylesheet">
    <link rel="stylesheet" href="css/master.css">
    <title>Dyne</title>
  </head>
  <body class="container container-showcase">
    <ul class="navigation">
      <li class="navigation__item"> <a href="#" class="navigation__link navigation__link--active">Home</a> </li>
      <li class="navigation__item"> <a href="#" class="navigation__link">Menu</a> </li>
      <li class="navigation__item"> <a href="#" class="navigation__link">Contact</a> </li>
      <li class="navigation__item"> <a href="#" class="navigation__link">Contact</a> </li>
      <li class="navigation__item navigation__item--guide">
      <svg class="navigation__icon">
        <use xlink:href="img/sprite.svg#icon-chevron-thin-down"></use>
      </svg>
    </li>
    </ul>
    <header class="header-left">
      <div class="left__content left__content--1">
      </div>
      <div class="left__content left__content--2">
      </div>
      <div class="left__content left__content--3">
      </div>
      <div class="left__content left__content--4">
      </div>
      <div class="left__content left__content--5">
      </div>
      <div class="left__content left__content--6">
      </div>
    </header>
    <div class="header-right">
      <h1 class="heading-header">Dyne</h1>
      <p>Powerful, flexibel, dynamic website</p>
    </div>
    <section class="keyfeatures">
      <h1 class="heading-1">Key Features</h1>
    </section>
    <section class="features">
      <div class="card">
        <svg class="features__icon">
          <use xlink:href="img/sprite.svg#icon-spinner4"></use>
        </svg>
        <h3 class="heading-3 u-margin-bottom-small u-text-align-center">Modern</h3>
        <p class="features__text">CSS grid? Check. Flexbox? Check. SASS? We got you. </p>
      </div>
      <div class="card">
        <svg class="features__icon">
          <use xlink:href="img/sprite.svg#icon-bolt"></use>
        </svg>
        <h3 class="heading-3 u-margin-bottom-small u-text-align-center">Powerful</h3>
        <p class="features__text">We care about you, so we only use the best. NodeJS, PHP, MySQL, MongoDB, it's on your hand</p>
      </div>
      <div class="card">
        <svg class="features__icon u-margin-bottom-small u-text-align-center">
          <use xlink:href="img/sprite.svg#icon-infinity"></use>
        </svg>
        <h3 class="heading-3 u-margin-bottom-small u-text-align-center">Awesome</h3>
        <p class="features__text">At Fark we say, “Focus on the user and all else will follow.” With this in mind, we seek to design experiences that inspire and enlighten our users</p>
      </div>
      </div>
    </section>
    <section class="product">
      <h2 class="heading-2">Feel curious? Here's our product</h2>
    </section>
    <section class="jumbo-left">
      <div class="jumbo__box">
      </div>
    </section>
    <section class="jumbo-right">
      2 of 2
    </section>
    <section class="upcomingfeatures">
      <h1 class="upcomingfeatures__title">Upcoming Features</h1>
      <div class="card">
        <svg class="upcomingfeatures__icon">
          <use xlink:href="img/sprite.svg#icon-lock"></use>
        </svg>
        <h3 class="upcomingfeatures__name">Better Security</h3>
        <p class="upcomingfeatures__text">Security is important right now. So, we consider about that too</p>
      </div>
      <div class="card">
        <svg class="upcomingfeatures__icon">
          <use xlink:href="img/sprite.svg#icon-react"></use>
        </svg>
        <h3 class="upcomingfeatures__name">Better Interface</h3>
        <p class="upcomingfeatures__text">React? Vue? Angular? We will implement it as soon as possible</p>
      </div>
      <div class="card">
        <svg class="upcomingfeatures__icon">
          <use xlink:href="img/sprite.svg#icon-javascript"></use>
        </svg>
        <h3 class="upcomingfeatures__name">Supercharged JavaScript</h3>
        <p class="upcomingfeatures__text">ES6? ES7? ES8!?? All the latest JavaScript, just for you</p>
      </div>
      <div class="card">
        <svg class="upcomingfeatures__icon">
          <use xlink:href="img/sprite.svg#icon-gauge"></use>
        </svg>
        <h3 class="upcomingfeatures__name">Better Performance</h3>
        <p class="upcomingfeatures__text">Welcome to the future!! Proggresive Web Apps is on the way soon!</p>
      </div>
    </section>
    <section class="footer">
      <p class="footer__copyright">Copyright &copy; Faruk 2018</p>
    </section>

  </body>
</html>
